body { 
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans","Tahoma,sans-serif";
    font-weight:bold;
    zoom: 75%;
}

#table_upload tr:hover {
    background: lightgrey;
}

input {
    border-radius: 1px;
    border: solid 1px gray;
    background: white;
    font-size:16px;
}

select {
    border: solid 1px gray;
    border-radius: 0px;
    width:100px;
    font-size:16px;
}

#table_info_malade td:not(:first-child) {
    padding-left: 30px;
}

#table_info_malade td {
    padding-bottom: 6px;
    text-align:left;
}

.inputs2 {
    width: 172px;
 border-radius: 13px;
}
.inputs5 {
    width: 95px;
    border-radius: 0px;
}

.inputs6{
	width: 300px;
	height:27px;
	border-radius: 0px;
}

.inputsTOP7{
	width: 90%;
	height:27px;
	border-radius: 0px;
}

.inputsTOP_7{
	width: 40%;
	height:27px;
	border-radius: 0px;
}

.inputsTOP_8{
	width: 28%;
	height:27px;
	border-radius: 0px;
}

.captionForm{
	height:30px;
	border-radius:2px;
	width:85.5%;
	text-align:center;
	color:rgba(245,245,245, 1);
	font-weight:bold;
	font-size:18px;
	padding-top:1%;
	margin-left:0%;
	background :  rgba(0, 9, 9, .65);
	/*
	background: url(../images/add.png) no-repeat right rgba(0, 9, 9, .65);
    background-position: 99.5%;
    */ 
}

.captionForm:hover{
	color:rgba(245,245,245, 2);
	background:rgba(0, 9, 9, .55);
}

.selectsTOP8{
	width: 90%;
	height:31px;
	margin-bottom:3px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	 -o-appearance: none;
		appearance: none;
	background: url(../images/arrow_down.png) no-repeat right white;
   background-position: 99.5% ;
}

.myLabel{
    display:inline-block;
	margin-bottom:10px;
	font-size:17px;
	width:90.5%;
	padding-right:40px;
	margin-right:40px;
}

.input_plaque {
    border-radius: 360px;
    height:50px;
    width:50px;
    text-align: center;
    border-color: lightgrey;
}

#div_conteneur {
    width:81%;
    margin: 20px;
    padding:20px;
    border: solid 1px gray;
    border-radius: 1px;
    box-shadow: 1px 1px 12px #555; 
}

#div_plaque_elisa, #div_upload {
    width:1000px;
    margin: 20px;
    padding:20px;
    border: solid 1px gray;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #555;
}

#bas {
    height : 25px;
    background:rgba(0,0,0,0.8);
    color:white;
    margin-top:15px;
    border-radius: 5px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-weight:bold;
    padding-top:2px;
    margin-bottom:10px;
    width: 1155px;
    box-shadow: 0px 0px 6px black;
    font-size:13px;
}

.myButton  {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color:#599bb3;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:14px;
    font-weight:bold;
    padding:5px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans","Tahoma,sans-serif";
}

.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color:#408c99;
}

.myButton:active {
    position:relative;
    top:1px;
}

.myButton1 {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(250,2,2,0.4)), color-stop(1, rgba(250,2,2,0.4)));
    background:-moz-linear-gradient(top, rgba(240,2,2,0.1) 5%, rgba(250,2,2,0.4) 100%);
    background:-webkit-linear-gradient(top, rgba(240,2,2,0.1) 5%, rgba(250,2,2,0.4) 100%);
    background:-o-linear-gradient(top, rgba(240,2,2,0.1) 5%, rgba(250,2,2,0.4) 100%);
    background:-ms-linear-gradient(top, rgba(240,2,2,0.1) 5%, rgba(250,2,2,0.4) 100%);
    background:linear-gradient(to bottom, rgba(240,2,2,0.1) 5%, rgba(250,2,2,0.4) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(200,2,2,0.4)', endColorstr='rgba(200,2,2,0.4)',GradientType=0);
    background-color:rgba(200,2,2,0.4);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:14px;
    font-weight:bold;
    padding:5px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans","Tahoma,sans-serif";
}

.myButton1:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(200,2,2,0.4)), color-stop(1, rgba(200,2,2,0.4)));
    background:-moz-linear-gradient(top, rgba(200,2,2,0.2) 5%, rgba(200,2,2,0.4) 100%);
    background:-webkit-linear-gradient(top, rgba(200,2,2,0.2) 5%, rgba(200,2,2,0.4) 100%);
    background:-o-linear-gradient(top, rgba(200,2,2,0.1) 5%, rgba(200,2,2,0.4) 100%);
    background:-ms-linear-gradient(top, rgba(200,2,2,0.2) 5%, rgba(200,2,2,0.4) 100%);
    background:linear-gradient(to bottom, rgba(200,2,2,0.2) 5%, rgba(200,2,2,0.4) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(200,2,2,0.4)', endColorstr='rgba(200,2,2,0.4)',GradientType=0);
    background-color:rgba(200,2,2,0.2);
}

.myButton1:active  {
    position:relative;
    top:1px;
}

.liens {
    color:white;
    text-decoration: none;
}




#table_fiche_prelevement td{
    text-align: center;
}
/*
#table_fiche_prelevement td:nth-child(2)
{
   display:none;
}

#table_fiche_prelevement th:nth-child(2)
{
   display:none;
}
*/

.class_table_client td {
     text-align: center;
}

.class_table_client td:nth-child(10) {
     display:none;
}
.class_table_client th:nth-child(10) {
     display:none;
}


.dataTables_filter input 
{ 
    width : 400px;
    border: solid 3px  #9FAFD1;
};

.class_button_clear{
    padding:1px;
    border:none;
    background:rgba(255,255,255,0);
}

.class_clear_img{
    width:14px;
    height:14px;
    border:none;
    background:rgba(255,255,255,0);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight:normal;
  font-style:italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight:normal;
  font-style:italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight:normal;
  font-style:italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight:normal;
  font-style:italic;
}	

.hide_column {
    display : none;
}
